@charset "UTF-8";

@media screen and (min-width: 992px) {
    main {
        flex-flow: row nowrap;
        width: 1000px;
        margin-top: 60px;
    }

    section#sedans {
        border-radius: 7px 0px 0px 7px;
    }

    section#luxury {
        border-radius: 0px 7px 7px 0px;
    }

    p {
     padding: 10px
    }
}