@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dosis:wght@200..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Climate+Crisis&family=Dosis:wght@200..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-lex: 'Lexend Deca', 'no-serif';
    --font-big: 'Big Shoulders';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-lex);
    background-color: hsl(0, 0%, 95%);
}

main {
    width: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 0px;
}

section {

    width: 100%;
    height: 450px;
    padding: 30px;
    color: white;
}

section#sedans {
    border-radius: 7px 7px 0px 0px;
    background-color: hsl(31, 77%, 52%);
}

section#suvs {
    background-color: hsl(184, 100%, 22%);
}

sectioN#luxury {
    border-radius: 0px 0px 7px 7px;
    background-color: hsl(179, 100%, 13%);
}

img {
    margin: 15px;
}

h1 {
    font-family: var(--font-big);
    font-weight: normal;
    margin: 15px;
    color: hsl(0, 0%, 95%);
}

p {
    margin: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 30px;
}

button {
    margin: 20px;
    margin-top: 15px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    width: 150px;
    padding: 15px;
    border: none;
    color: hsl(31, 77%, 52%);
    transition-duration: 0.5s;
}

#suvs button {
    color: hsl(184, 100%, 22%);
}

#luxury button {
    color: hsl(179, 100%, 13%);
}

button:hover, #suvs button:hover, #luxury button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}