@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 0px;
}

section {
    width: 100%;
    padding: 30px;
    color: white;
}

section#sedans {
    border-radius: 5px 5px 0px 0px;
    background-color: hsl(31, 77%, 52%);
}

section#suvs {
    background-color: hsl(184, 100%, 22%);
}

sectioN#luxury {
    border-radius: 0px 0px 5px 5pxb;
    background-color: hsl(179, 100%, 13%);
}